.list{
    text-align: center;
    margin:0 auto;
}

.item {
    background-color: #ffffff;
    height: 100px;
    width: 500px;
    border: solid 1px #e2e8ef;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    vertical-align: middle;
    box-shadow: 5px 5px 5px #d0d4d8;
    
}

.status_on {
    color: green;
    vertical-align: middle;
    width: 20px;
    margin-top: 40px; 
    margin-left: 20px;
    margin-right: 20px; 
}

.status_off {
    color: red;
    vertical-align: middle;
    width: 20px;
    margin-top: 40px; 
    margin-left: 20px;
    margin-right: 20px; 
}

.avatar{
    width: 90px;
    height: 90px;
    margin-top: 5px;
    margin-right: 20px;
    border: solid 1px #e2e8ef;
    border-radius: 5px;
} 

.name{
    color: #000000;
    font-size: 30px;

}